.event-container
    
    .event_moreinformation
        margin: 10px
        padding: 7px
        margin-top: -15px
        display: none
        
    .event     
        position: relative
        z-index: 2
        margin: 10px
        border-radius: 10px
        padding: 7px
        box-shadow: 0px 0px 4px 2px #033f6d61
        background-color: #fff
        display: grid
        grid-template-columns: 2fr 8fr
        max-height: 50px
        .event_logo
            grid-column: 1/2
            grid-row: 1/-1
        .event_information
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            .event_information_name
                grid-column: 1/2
                grid-row: 1/2
            .event_information_location
                grid-column: 1/2
                grid-row: 2/-1
            .event_information_time
                grid-column: 2/-1
                grid-row: 1/2
                text-align: right
            .event_information_date
                grid-column: 2/-1
                grid-row: 2/-1
                text-align: right
.event-container:hover
    .event_moreinformation_label
         margin-top: 7px
    .event_moreinformation
        position: relative
        z-index: -1
        display: flex
        transition:  5s
        background-color: #c9e6f8 
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        min-height: 30px
        justify-content: flex-start
        .event_moreinformation_detail_btn
           margin-right: auto
        button
            height: 25px
            min-width: 60px
            border: none
            border-radius: 20px
            margin-right: 15px
            margin-left: 20px
            color: #fff
            background-color: #37a4ec
            outline: 0
            font-weight: 600
            margin: 5px
           
            
