$defaultColor: #37a4ec


.header
    display: flex
    background-color: #fff
    border-bottom: 1px solid #cecece
    height: 3rem
.logo
    width: 15%
    padding: 0.6rem
    margin-left: 1rem
.logo:hover
    opacity: 0.8    
img
    width: 100%

.navigation-container
    display: flex
    justify-content: flex-end
    vertical-align: right
    align-items: center
    width: 100%
    .add_event_btn, .myEvents_btn 
        background-color: #fff
        color: $defaultColor
        height: 1.6rem
        padding-right: 0.6rem
        padding-left: 1.2rem
        border: none
        font-weight: 600
        cursor: pointer
        outline: 0
    .myEvents_btn 
        border-left: 1px solid #b1b3b3
    .account_btn
        background-color: $defaultColor
        color: #ffffff
        height: 1.6rem
        min-width: 6.5rem
        margin-right: 1rem
        margin-left: 1.4rem
        border: none
        border-radius: 1rem
        font-weight: 600
        cursor: pointer
        outline: 0
    button:hover
        opacity: 0.8

    